version: '3.8'
services:
  backend:
    build: ../backend
    command: uvicorn app:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    volumes:
      - ../backend:/app
    depends_on:
      - chromadb
  chromadb:
    image: chromadb/chroma
    container_name: hawzx_chromadb
    ports:
      - "8001:8000"
    volumes:
      - ../data/index:/chroma/chroma
    restart: unless-stopped