app = 'noki-ai'
primary_region = 'iad'

[build]

[env]
  SUPABASE_URL = 'https://qwsnxutkvwfubtcnavnt.supabase.co'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '1gb'
  cpus = 1
